@import "~bootstrap/scss/bootstrap";

$base-color: #343a40 ;
$accent-color: #555;
$light-color: #848a90;
$white-color: #fff;


.orders-table-container {
  padding: 0;
  margin: 0;
}

.item-loader {
  align-content: center;
}


ul.dateList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul.dateList li {
  float: left;
  padding: 1em;
}

.dateSearchBtn {
  padding: 1em;
  margin-top: 1em;
  background: $base-color;
  color: white;
}

.nav-name-elem {
  color: $white-color;
  text-align: center;
  padding: 0.5em;
}

.nav-name-container {
  display: inline-block;
  vertical-align: middle;
}

#pagination-orders li {
  display: inline;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#pagination-orders {
  text-align: center;
}

.img-container {
  margin: auto;
}

#dateSearchContainer {
  margin-left: 0;
  padding-left: 0;
}


