@import "~bootstrap/scss/bootstrap";

$base-color: #343a40 ;
$accent-color: #555;
$light-color: #848a90;
$white-color: #fff;


.orders-table-container {
  padding: 0;
  margin: 0;
}

.item-loader {
  align-content: center;
}


ul.searchList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul.searchList li {
  float: left;
  padding: 1em;
}

.searchBtn {
  padding: 1em;
  margin-top: 1em;
  background: $base-color;
  color: white;
}

.nav-name-elem {
  color: $white-color;
  text-align: center;
  padding: 0.5em;
}

.nav-name-container {
  display: inline-block;
  vertical-align: middle;
}

#pagination-orders li {
  display: inline;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#pagination-orders {
  text-align: center;
}

.img-container {
  margin: auto;
}

#dateSearchContainer {
  margin-left: 0;
  padding-left: 0;
}

.update-btn {
}

td.row-action {
  width: 100px;
}

.success-delete {
  margin: 0;
  width: 30px;
  height: 30px;
  -webkit-animation:spin 1s ease-in-out ;
  -moz-animation:spin 1s ease-in-out ;
  animation:spin 1s ease-in-out ;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.add-btn {
  margin-top: 32%;

}
.search-btn {
  margin-top: 40%;
}
